.App {
  font-family: "Roboto", sans-serif;
  max-width: 600px;
  margin: 25px auto;
}

.App .Post {
  border-left: 3px solid plum;
  padding-left: 25px;
}

.App .Post .Post_Options {
  display: flex;
  justify-content: space-between;
}
